@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: Inter;
}

body {
  background-color: #141312;
  margin: auto;
}

body::-webkit-scrollbar {
  width: 0px;
  /* Hide horizontal scrollbar */
  height: 0px;
  /* Hide vertical scrollbar */
}

.empty-state {
  color: white;
  padding: 32px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}

.task-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
  gap: 32px;
  margin: auto;
  margin-top: 72px;
  margin-bottom: 128px;
  width: 100%;
  max-width: 1080px;
}

@media (max-width: 1200px) {
  .task-list {
    max-width: 960px;
    gap: 24px;
  }
}

@media (max-width: 992px) {
  .task-list {
    max-width: 720px;
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .task-list {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    max-width: 540px;
    gap: 12px;
  }
}

@media (max-width: 576px) {
  .task-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 320px;
    gap: 8px;
  }

  .empty-state {
    font-size: 10px;
    line-height: 18px;
  }
}