.button {
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: none;
    transition: background-color 0.3s;
    background: none;
    border-radius: 32px;
    border: 0.5px solid transparent
}

.button:hover {
    background-color: #28272687;
    border: 0.5px solid #2F2E2E;
    padding: 4px;
}

.button:active {
    background-color: #ccc;
    padding: 4px;
}

.button:disabled {
    background-color: #eee;
    color: #666;
    cursor: not-allowed;
}

.button.secondary {
    padding: 4px;
    border-radius: 8px;
    background-color: #282726e0;
    transition: all 0.3s;
}

.button.secondary:hover {
    padding: 4px;
    border-radius: 8px;
    background-color: #282726;
    border: 0.5px solid #4A4A4A;
}

.button.secondary:disabled {
    /* padding: 4px;
    border-radius: 8px;
    background-color: #28272627; */
    opacity: 20%;
}

.button.link {
    padding: 4px;
    border-radius: 8px;
}

.button.link:hover {
    padding: 4px;
    border-radius: 8px;
    background-color: #282726e0;
}