.input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #7E7E7E;
    font-size: 14px;
    box-sizing: border-box;
}

.input-title {
    font-size: 18px;
    font-weight: 500;
}

.input-value {
    color: white;
}

/* CSS */
.input-no-focus:focus {
    outline: none !important;
    border: none;
}

.input:focus {
    outline: none;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 16px;
    height: 16px;
    border: 1px solid #CACACA;
    border-radius: 4px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-image: url('./icons/check.svg');
    background-size: 16px 16px;
    background-position: center;
    background-color: transparent;
    border-color: #555555;
}