/* Input.css */
.textarea {
    padding: 6px;
    width: 100%;
    height: 90px;
    resize: none;
    background-color: transparent;
    border: none;
    color: #7E7E7E;
    font-size: 14px;
    box-sizing: border-box;
    font-family: Inter;
}

.textarea:focus {
    color: white;
    outline: none !important;
    border: none;
    /* Text color when input has content */
}