/* Input.css */
.textarea {
    /* padding: 8px; */
    width: 100%;
    resize: none;
    background-color: transparent;
    border: none;
    color: #7E7E7E;
    font-size: 14px;
    box-sizing: border-box;
    font-family: Inter;
    height: 64px;
}

.textarea:focus {
    color: white;
    outline: none !important;
    border: none;
    /* Text color when input has content */
}

.textarea::-webkit-scrollbar {
    /* For Chrome, Safari, etc. */
    width: 0px;
    /* Hide horizontal scrollbar */
    height: 0px;
    /* Hide vertical scrollbar */
}